input {
    width: 200px;
}
#command {
    height:10px;
}
#route-box {
    width: max-content;
    margin:auto;
    background-color: aliceblue;
    padding: 20px;
}
#route-box-title {
    width: max-content;
    margin: auto;
    margin-bottom: 20px;
    user-select: none;
}
#route-box-inputs {
    text-align: center;
}
#station-list {
    padding-left: 50px;
    padding-right: 50px;
}
.station-name {
    float: left;
    background: salmon;
    margin: 20px;
    padding: 5px;
    user-select: none;
}